*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list{
    display: flex;
    align-items: center;
    list-style: none; 
}

.list li {
    margin-left: 1.5rem;
}