*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

nav{
    height: 90px;
    background-color: #21222A;
}

.container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.box-1{
    display: flex;
    color: #61DAFB;
}

.box-1 h2{
    padding-left: 8px;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;

}

.box-2{
    color: #fff;
}